<body>
    <head>
        <title>Express JS</title>
        <script>
            var ws = new WebSocket('ws://localhost:3000');
    // event emmited when connected
            ws.onopen = function () {
                console.log('websocket is connected ...')
                // sending a send event to websocket server
                ws.send('connected');                
            }
            
            // event emmited when receiving message 
            ws.onmessage = function (ev) {
                console.log(ev);
            }
            function sendMessage() {
                ws.send("CAZZZO");
            }
        </script>
    </head>
    <body>
        <h1>Home</h1>
        <div>Benvenuto in Express</div>
        <button onclick="sendMessage()">OK</button>
    </body>
</body>